<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
{{ ansible_managed | comment('xml') }}
<plist version='1.0'>
<dict>
<key>Label</key><string>org.macports.openvpn2</string>
<key>ProgramArguments</key>
<array>
        <string>/opt/local/sbin/openvpn2</string>
        <string>--config</string>
        <string>/opt/local/etc/openvpn2/server.conf</string>
        <string>--cd</string>
        <string>/opt/local/etc/openvpn2</string>
</array>
<key>RunAtLoad</key>
<true/>
</dict>
</plist>
